<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
        <link rel=stylesheet href="{{ url_for('static', filename='bootstrap.min.css') }}" type='text/css' media=all>
        <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" type='text/css' media=all>
	{% if False %}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block head %}{% endblock %}
</head>
<body>
<header>
	<h1>
		{{ title }}
		{% if g.is_admin %}
			(admin)
		{% elif g.is_reg %}
			(registrar)
		{% endif %}
	</h1>
</header>
<main>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
	{% for category, message in messages %}
		{% if category == 'message' %}
		<div class="alert alert-warning" role="alert">
		{% else %}
		<div class="alert alert-{{ category }}" role="alert">
		{% endif %}
		{{ message }}
		</div>
	{% endfor %}
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
</main>
<footer>
{% if g.role != 'user' %}
	<form method=POST action='{{ url_for('logout') }}'>
		<button class='btn btn-outline-danger' type=submit>Log out</button>
	</form>
{% endif %}
</footer>
</body>
</html>
