{% extends "base.html" %}
{% set title="Election: " + edata.title %}

{% block body %}

{% if ballot %}

<h2 class="mb-4">Your ballot</h2>

<p>
	Receipt: <code>{{ receipt }}</code>
</p>

<p>
	Nonce: <code>{{ ballot.nonce }}</code>
</p>

<p>
	Ranks of options (lower rank is preferred over a higher one):
</p>

<table class=vote>
	{% for option, rank in option_ranks %}
	<tr>
		<td>{{ option }}
		<td>{{ rank }}
	{% endfor %}
</table>

{% else %}

<p>
	No ballot with receipt <code>{{ receipt }}</code> was found.
</p>

{% endif %}

<div class='btn-group mt-4'>
	<a class='btn btn-primary' href='{{ url_for('election', ident=election.ident) }}'>Back to the election</a>
</div>

{% endblock %}
