{% extends "base.html" %}
{% set title="Election: " + edata.title %}

{% block body %}

<h3>Options</h3>

<ul>
	{% for c in edata.options %}
	<li>{{ c }}
	{% endfor %}
</ul>

{% if election.state == ElectionState.voting %}

<h3>Vote</h3>

	{% if cred_form %}
	<p>In order to vote, enter your voting credential and press Vote:</p>
	<form class="mb-4" method="POST" action="{{ url_for('vote', ident=election.ident) }}">
	{{ cred_form.csrf_token }}
	{{ cred_form.credential }}
	{{ cred_form.vote(class="btn btn-success") }}
	</form>
	{% endif %}

	{% if check_form %}
	<p>If you have your receipt, you can verify your vote here:</p>
	<form class="mb-4" method="POST" action="{{ url_for('check_vote', ident=election.ident) }}">
	{{ check_form.csrf_token }}
	{{ check_form.receipt }}
	{{ check_form.check(class="btn btn-success") }}
	</form>
	{% endif %}

{% elif election.state == ElectionState.counting %}

<p>
	The votes are now being counted.
</p>

{% elif election.state == ElectionState.results %}

<p>
	The election is over.
</p>

{% endif %}

{% if g.is_reg or g.is_admin %}

	{% if election.state == ElectionState.counting or election.state == ElectionState.results %}
	<p>
		As a registrar, you should download the <a href='{{ url_for('verifiers', ident=election.ident) }}'>verifiers</a>
		and check that only registered votes have voted.
	</p>
	{% endif %}

{% endif %}

<div class='btn-group mb-4'>
{% if election.state == ElectionState.results or election.state == ElectionState.counting and g.is_admin %}
	<a class='btn btn-success' href='{{ url_for('results', ident=election.ident) }}'>Show results</a>
{% endif %}
{% if election.state in (ElectionState.counting, ElectionState.results) or g.is_admin %}
	<a class='btn btn-secondary' href='{{ url_for('ballots', ident=election.ident) }}'>Review ballots</a>
{% endif %}
	<a class='btn btn-primary' href='{{ url_for('index') }}'>Back to the list of elections</a>
</div>

{% if g.is_admin %}
<h3>Administration</h3>

<form method="POST" action="{{ url_for('set_state', ident=election.ident) }}">
{{ set_state_form.csrf_token }}
{{ set_state_form.new_state.label }}
{{ set_state_form.new_state }}
{{ set_state_form.submit(class="btn btn-success") }}
</form>
{% endif %}

{% endblock %}
